/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root{
  --ion-font-family: 'Roboto', sans-serif;
  --ion-text-color: #757575;
  font-weight: light;
}

.w-100{
  width: 100%;
}

.w-100-flex{
  width: 100%;
  display: flex;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}


ion-toolbar{
  --background:#163891;
}

ion-content{
  --background:#fff;
}

.fc-black{
  color: #000;
}

.fc-white{
  color: #fff;
}

.fz-10{
  font-size: 10px;
}

.fz-12{
  font-size: 12px;
}

.fz-14{
  font-size: 14px;
}

.fz-16{
  font-size: 16px;
}

.fz-18{
  font-size: 18px;
}

.fz-20{
  font-size: 20px;
}

.fz-22{
  font-size: 22px;
}

/* ion-header{
  box-shadow: none !important;
  background-color: #269BDF;
} */

ion-input{
  border-bottom: 1px solid black;
}

ion-select{
  border-bottom: 1px solid black; 
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

ion-textarea{
  border-bottom: 1px solid black;
}

